In [ ]:
import sqlite3

In [ ]:
connection = sqlite3.connect('movies.db')

In [ ]:
cursor = connection.cursor()

In [ ]:
cursor.execute('''CREATE TABLE IF NOT EXISTS Movies
              (Name TEXT, Actor TEXT, Actress TEXT, 
              Director TEXT, Year INT)''')

In [ ]:
cursor.execute('''INSERT INTO Movies VALUES ('Pretty Woman', 'Richard Gere', 'Julia Roberts', 'Garry Marshall', 1990)''')
cursor.execute('''INSERT INTO Movies VALUES ('Captain America', 'Chris Evans', 'Scarlett Johansson', 'Joe Johnston', 2011)''')
cursor.execute('''INSERT INTO Movies VALUES ('Pirates of the Carribean', 'Johnny Depp', 'Keira Knightley', 'Gore Verbinski', 2003)''')
cursor.execute('''INSERT INTO Movies VALUES ('Willy Wonka', 'Johnny Depp', 'Helena Bohnam Carter', 'Tim Burton', 2005)''')

In [ ]:
connection.commit()

In [ ]:
cursor.execute('''SELECT * FROM Movies''')
records = cursor.fetchall()

for row in records:
  print("Name:" + row[0])
  print("Actor:" +row[1])
  print("Actress:" +row[2])
  print("Director:" +row[3])
  print("Year:", row[4])
  print()

Name:Pretty Woman
Actor:Richard Gere
Actress:Julia Roberts
Director:Garry Marshall
Year: 1990

Name:Captain America
Actor:Chris Evans
Actress:Scarlett Johansson
Director:Joe Johnston
Year: 2011

Name:Pirates of the Carribean
Actor:Johnny Depp
Actress:Keira Knightley
Director:Gore Verbinski
Year: 2003

Name:Willy Wonka
Actor:Johnny Depp
Actress:Helena Bohnam Carter
Director:Tim Burton
Year: 2005

In [ ]:
cursor.execute('''SELECT * FROM Movies WHERE Actor = "Johnny Depp"''')
records = cursor.fetchall()

for row in records:
  print("Name:" + row[0])
  print("Actor:" +row[1])
  print("Actress:" +row[2])
  print("Director:" +row[3])
  print("Year:", row[4])
  print()

Name:Pirates of the Carribean
Actor:Johnny Depp
Actress:Keira Knightley
Director:Gore Verbinski
Year: 2003

Name:Willy Wonka
Actor:Johnny Depp
Actress:Helena Bohnam Carter
Director:Tim Burton
Year: 2005

In [ ]:
connection.commit()

In [ ]:
cursor.close()